<div class="viewTopbar container-fluid">
		<div class="main row">Directorio institucional</div>
</div>
<!-- Buscador y botón -->
<div class="searcherBar col-sm-12">
	<input class="caja" type="text" placeholder="Buscar">
	<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align">
	  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
</div>
<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div ng-repeat='obCrumb in arBreadCrumb' ng-click="GoTo($index, obCrumb)">{{obCrumb.DESCRIPTION}}</div>
</div>

<div ng-class="cellsClass" class="contentBase" ng-repeat='obUnit in arUnits'>
	<div class="col-sm-3 treeItem" ng-click="ShowSons(obUnit)">
		{{obUnit.DESCRIPTION}}
	</div>
</div>

<table border="1" width="100%" ng-show="arDependencies.length > 0">
	<tr>
		<th ng-click="OrderBy('DESCRIPTION')" class="col-sm-3">Dependencia</th>
		<th ng-click="OrderBy('PHONE')" class="col-sm-3">Teléfono</th>
		<th ng-click="OrderBy('EMAIL')" class="col-sm-3">Correo electrónico</th>
	</tr>
	<!-- <tr ng-repeat="x in names | orderBy:myOrderBy"> -->
	<tr ng-repeat="obDependency in arDependencies | orderBy:sbOrderProperty:blReverseOrder">
		<td class="col-sm-3">{{obDependency.DESCRIPTION}}</td>
		<td class="col-sm-3">{{obDependency.PHONE}}</td>
		<td class="col-sm-3">{{obDependency.EMAIL}}</td>
	</tr>
</table>