<div class="viewTopbar container-fluid">
		<div class="main row">Directorio institucional</div>
</div>
<!-- Buscador y botón -->
<div class="searcherBar col-sm-12">
	<input class="caja" type="text" placeholder="Buscar">
	<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align">
	  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
</div>
<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div>Unidades</div>
</div>

<div ng-class="cellsClass" class="contentBase" ng-repeat='Unit in units' ng-show="!blDependencyView">
	<div class="col-sm-3 treeItem" ng-click="FilterSons(Unit)">
		{{Unit.DESCRIPTION}}
	</div>
</div>

<div ng-show="blDependencyView">
	{{buildingSchedule}}
</div>