<div class="viewTopbar container-fluid">
		<div class="main row">Ubica tu clase</div>
</div>
<!-- Buscador y botón -->
<div class="searcherBar col-sm-12">
	<input class="caja" type="text" placeholder="Buscar">
	<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align">
	  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
</div>
<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div>Programación de auditorios</div>
</div>

<div ng-class="cellsClass" class="contentBase" ng-repeat='Building in buildings' ng-show="!blScheduleView">
	<div class="col-sm-3 treeItem" ng-click="FilterSons(Building.ID)">
		{{Building.DESCRIPTION}}
	</div>
</div>

<div ng-show="blScheduleView">
	{{buildingSchedule}}
</div>