<div class="viewTopbar container-fluid">
		<div class="main row">Planes de estudio</div>
</div>
<!-- Buscador y botón -->
<div class="searcherBar col-sm-12">
	<input class="caja" type="text" placeholder="Buscar">
	<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align">
	  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
</div>
<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div ng-repeat='obCrumb in arBreadCrumb' ng-click="GoTo($index, obCrumb)">{{obCrumb.NAME}}</div>
</div>

<div ng-class="cellsClass" class="contentBase" ng-repeat='obFaculty in arMenuFaculties track by $index'>
	<div class="col-sm-3 treeItem" ng-click="ShowSons(obFaculty)">
		{{obFaculty.NAME}}
	</div>
</div>

<div ng-repeat='obCarrer in arPensum'>
	<!-- {{obCarrer}} -->
	<div class="contentBase" ng-repeat='obSemester in obCarrer.SEMESTERS track by $index'>
		<div class="col-sm-3 treeItem">
			<div>
				{{obSemester.SEMESTER_NAME}}
			</div>
			<div ng-repeat="obCourse in obSemester.SUBJECTS">
				<div>{{obCourse.ID_GROUPER}}</div>
				<div>{{obCourse.NAME}}</div>
				<div>
					<div>{{obCourse.CREDITS}}</div>
					<div>créditos</div>
				</div>
			</div>
		</div>
	</div>
</div>