<div class="viewTopbar container-fluid">
		<div class="main row">Planes de estudio</div>
</div>
<!-- Buscador y botón -->
<div class="searcherBar col-sm-12">
	<input class="caja" type="text" placeholder="Buscar">
	<button type="button" class="smallBtn btn btn-default btn-sm" aria-label="Left Align">
	  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	</button>
</div>
<!-- Breadcrumb y subtitulo -->
<div class="breadCrumbs col-sm-12">
	<div ng-repeat='obCrumb in arBreadCrumb' ng-click="GoTo($index, obCrumb)">{{obCrumb.NAME}}</div>
</div>

<!-- Menú -->
<div ng-class="cellsClass" class="contentBase" ng-repeat='obFaculty in arMenuFaculties'>
	<div class="col-sm-3 treeItem" ng-click="ShowSons(obFaculty)">
		{{obFaculty.NAME}}
	</div>
</div>

<!-- plan de estudio seleccionado -->
<div ng-repeat='obCarrer in arPensum'>
	<!-- Tipos de materias -->
	<div class="contentBase" ng-repeat='obCourseType in obCarrer.GROUPERS'>
		<div>
			<div ng-class="getCourseTypeColor(obCourseType.ID)" class="courseTypeLegendSize"></div>
			<div>{{obCourseType.DESCRIPTION}}</div>
		</div>
	</div>

	<!-- Semestres -->
	<div class="contentBase" ng-repeat='obSemester in obCarrer.SEMESTERS'>
		<div class="col-sm-3 treeItem">
			<div>
				<div>
					{{obSemester.SEMESTER_NAME}}
				</div>
				<div>
					Créditos: {{getTotalCredits(obSemester)}}
				</div>
			</div>

			<!-- Marerias -->
			<div ng-repeat="obCourse in obSemester.SUBJECTS">
				<div ng-class="getCourseTypeColor(obCourse.ID_GROUPER)" class="courseTypeSize"></div>
				<div>{{obCourse.NAME}}</div>
				<div>
					<div>{{obCourse.CREDITS}}</div>
					<div>créditos</div>
				</div>
			</div>
		</div>
	</div>
</div>